{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block menu %}
<div class="ui large vertical menu">
  <div class="item">
    <div class="ui icon input">
        <label>
            <input type="text" placeholder="Search ...">
        </label>
        <i class="search icon"></i>
    </div>
  </div>
  <a class="active item">
      Profil
      <i class="user icon"></i>
  </a>
  <a class="item">
      <i class="file icon"></i>
    Barcha loyihalar
  </a>
  <a class="item">
      <i class="file alternate icon"></i>
    Mening loyihalarim
  </a>
  <a class="item">
      <i class="chat icon"></i>
    Chat
  </a>
</div>
{% endblock menu %}

{% block content %}
    <div class="ui grid mt-2">
    <div class="eight wide column">
             <canvas id="myChart" style="width: 30%;height: 100px"></canvas>
    </div>
        <div class="eight wide column">
             <canvas id="myChart2" style="width: 30%;height: 100px"></canvas>
    </div>
    </div>
    <div style="margin-top: 10%">
    <h1 style="font-family: sans-serif;font-weight: bold">Hodimlar</h1><hr/>
    <table class="ui very compact table">
        <thead>
        <tr>
            <th>N0</th>
            <th>Ismi</th>
            <th>Departamenti</th>
            <th>Loyihalari soni</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Abduvokhidov Ergashali</td>
            <td>Strategiya</td>
            <td>32</td>
        </tr>
                <tr>
            <td>1</td>
            <td>Abduvokhidov Ergashali</td>
            <td>Strategiya</td>
            <td>32</td>
        </tr>
                <tr>
            <td>1</td>
            <td>Abduvokhidov Ergashali</td>
            <td>Strategiya</td>
            <td>32</td>
        </tr>
                <tr>
            <td>1</td>
            <td>Abduvokhidov Ergashali</td>
            <td>Strategiya</td>
            <td>32</td>
        </tr>
                <tr>
            <td>1</td>
            <td>Abduvokhidov Ergashali</td>
            <td>Strategiya</td>
            <td>32</td>
        </tr>
                <tr>
            <td>1</td>
            <td>Abduvokhidov Ergashali</td>
            <td>Strategiya</td>
            <td>32</td>
        </tr>
        </tbody>
    </table>
    </div>


{% endblock content %}